<!DOCTYPE html>
<html>
<head>
  <title>Hello World!</title>
  <link rel="stylesheet" href="https://cdn.bokeh.org/release/bokeh-2.4.3.min.css" type="text/css" />
</head>
<body>
  <h1>Hello World!</h1>
  <form method="POST">
    <label for="user_input">Enter your message:</label>
    <input type="text" id="user_input" name="user_input">
    <input type="submit" value="Submit">
  </form>
  <p>{{ message }}</p>

  {% if data_available %}
    <h2>Rate Distribution</h2>

    <div id="plot_container"></div>

    <script src="https://cdn.bokeh.org/release/bokeh-2.4.3.min.js"></script>
  {% endif %}
</body>
</html>
